[submodule "modules/cpp-netlib"]
	path = modules/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
[submodule "poco"]
	path = poco
	url = https://github.com/pocoproject/poco.git
	branch = master
